In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import collections

In [2]:
root_dir = "Results/Inception_Three_new_Balance_all_Chang_Fold_520201112-083227"
append_match_col = lambda df: [ 1 if Class == Predict else 0  for Class, Predict in zip(df.Class, df.Predict)]
calculate_acc = lambda df: round(len(df[df.Match == 1]) / len(df) * 100, 3)

In [3]:
train_path = f"{root_dir}/Fold_1/table/train_dataset.csv"
valid_path = f"{root_dir}/Fold_1/table/valid_dataset.csv"
test_path = f"{root_dir}/Fold_1/table/test_predict.csv"

train_data = pd.read_csv(train_path)
valid_data = pd.read_csv(valid_path)
test_data  = pd.read_csv(test_path)

all_data_ID = set(pd.concat([train_data, valid_data, test_data]).ID)
all_ID_dict = { pid: {"Valid": 0, "Test": 0} for pid in all_data_ID }

In [4]:
def create_correct_dict(df):
        ID_groups = df.groupby("ID")
        all_ID = set(df.ID)
        acc_dict = collections.OrderedDict()
        for ID in all_ID:
                ID_df = ID_groups.get_group(ID)
                accuracy = calculate_acc(ID_df)
                acc_dict[ID] = [len(ID_df), len(ID_df[ID_df.Match == 1]), accuracy]
        return acc_dict

In [5]:
for fold_num in range(1, 6, 1):
#         valid_path = f"{root_dir}/Fold_{fold_num}/table/valid_predict.csv"
        test_path = f"{root_dir}/Fold_{fold_num}/table/test_predict.csv"
        
#         valid_data = pd.read_csv(valid_path)
        test_data  = pd.read_csv(test_path)
        
#         valid_data["Match"] = append_match_col(valid_data)
        test_data["Match"] = append_match_col(test_data)
        
        
#         print("Valid Acc: %.2f %%"  % ( calculate_acc(valid_data) ))
        print("Test  Acc: %.2f %%"  % ( calculate_acc(test_data ) ))
        
        
#         val_acc_dict  = create_correct_dict(valid_data)
#         for ID, value  in val_acc_dict.items(): 
#                 total, match, acc = value
#                 all_ID_dict[ID]["Valid_Total"] = total
#                 all_ID_dict[ID]["Valid_Match"] = match
#                 all_ID_dict[ID]["Valid_Acc"] = acc
#                 all_ID_dict[ID]["Valid_fold"] = fold_num
                    
                 
            
        test_acc_dict = create_correct_dict(test_data )
        for ID, value  in test_acc_dict.items():
                total, match, acc = value
                all_ID_dict[ID]["Test_Total"] = total
                all_ID_dict[ID]["Test_Match"] = match
                all_ID_dict[ID]["Test_Acc"] = acc
                all_ID_dict[ID]["Test_fold"] = fold_num

Test  Acc: 69.07 %
Test  Acc: 74.17 %
Test  Acc: 65.81 %
Test  Acc: 68.75 %
Test  Acc: 64.00 %

In [6]:
result_df = pd.DataFrame()
result_df = result_df.from_dict(all_ID_dict).T

result_df = result_df[["Test_fold" , "Test_Total" , "Test_Match"  , "Test_Acc"]]
# result_df = result_df[["Valid_fold", "Valid_Total", "Valid_Match" , "Valid_Acc",
#                        "Test_fold" , "Test_Total" , "Test_Match"  , "Test_Acc"]]

In [7]:
result_df = result_df.sort_values(by=['Test_Acc'], ascending=False)
# result_df = result_df.sort_values(by=['Valid_Acc', 'Test_Acc'], ascending=False)
result_df

                    Test_fold  Test_Total  Test_Match  Test_Acc
422254 112116 x           3.0       402.0       400.0    99.502
701907 120318 x           4.0       648.0       641.0    98.920
544695_2 090110 x         3.0       414.0       409.0    98.792
419024_1 110712 x         3.0       318.0       314.0    98.742
514026 021611 x           5.0       486.0       479.0    98.560
...                       ...         ...         ...       ...
679891 022719 x           3.0       767.0       230.0    29.987
005627 120209 x           3.0       762.0       228.0    29.921
S024961_1 032614 x        5.0        37.0        11.0    29.730
S092586_2 011619 x        2.0       500.0       103.0    20.600
695000_2 022819 x         5.0       194.0         3.0     1.546

[174 rows x 4 columns]

In [15]:
result_df.to_csv(f"{root_dir}/id_acc.csv")

In [9]:
# weird_id = result_df[result_df.Test_fold == 1].sort_values(by=['Test_Acc'], ascending=False)
# weird_id

                    Test_fold  Test_Total  Test_Match  Test_Acc
415134_1 111210 x         1.0      1372.0      1318.0    96.064
10689 102418 x            1.0      1914.0      1766.0    92.268
000411 112119 x           1.0       700.0       634.0    90.571
676633_1 090512 x         1.0       672.0       571.0    84.970
573938_1 082719 x         1.0       457.0       362.0    79.212
709503 111119 x           1.0      1344.0      1048.0    77.976
682363 091018 x           1.0      4748.0      3396.0    71.525
602260_1 091707 x         1.0       400.0       279.0    69.750
S112552_2 043015 x        1.0       818.0       553.0    67.604
701509 061919 x           1.0      2032.0      1362.0    67.028
026118_2 060718 x         1.0      1204.0       796.0    66.113
S117029_2 100917 x        1.0       945.0       610.0    64.550
423384 112216 x           1.0      1165.0       740.0    63.519
S092813_2 042419 x        1.0      1152.0       684.0    59.375
P090099 010919 x          1.0      2028.0      1153.0    56.854
652530 030818 x           1.0      1432.0       810.0    56.564
S108236_2 022717 x        1.0      1758.0       972.0    55.290
532286_1 091109 x         1.0      1539.0       683.0    44.379

In [10]:
# weird_id.to_csv(f"{root_dir}/weird_id_acc.csv")

In [11]:
sheng20 = [   "002555 042513 x", "000408 102419 x" , "005627 120209 x", "004151 091409 x",
    "003615 010816 x", "007274 021016 x" , "007274 021016 x", "004359 030716 x",
    "001742 082712 x", "002456 060517 x" , "1899 120718 x"  , "004499 110515 x",
    "13529 092513 x" ,  "000411 112119 x", "008908 090309 x", "003262 103015 x",
    "10689 102418 x" , "003670 020718 x" , "010953 031618 x", ]

In [14]:
result_df[result_df.index.isin(sheng20)]

                 Test_fold  Test_Total  Test_Match  Test_Acc
002456 060517 x        5.0       126.0       121.0    96.032
003670 020718 x        3.0       549.0       525.0    95.628
1899 120718 x          3.0       433.0       411.0    94.919
10689 102418 x         1.0      1914.0      1766.0    92.268
000411 112119 x        1.0       700.0       634.0    90.571
002555 042513 x        3.0       182.0       161.0    88.462
003262 103015 x        2.0       376.0       329.0    87.500
008908 090309 x        5.0       333.0       288.0    86.486
004499 110515 x        5.0       183.0       151.0    82.514
010953 031618 x        2.0       361.0       266.0    73.684
007274 021016 x        5.0       275.0       202.0    73.455
000408 102419 x        2.0       376.0       265.0    70.479
004151 091409 x        5.0      1716.0      1033.0    60.198
13529 092513 x         4.0       752.0       390.0    51.862
003615 010816 x        5.0      1028.0       489.0    47.568
001742 082712 x        3.0      1630.0       709.0    43.497
005627 120209 x        3.0       762.0       228.0    29.921